<ion-content [fullscreen]="true">
  <div id="container">
    <p>Welcome to Jobs4You, your ultimate job search companion! Whether you're a recent graduate, seasoned professional,
      or
      someone exploring new career opportunities, Jobs4You is here to help you find the perfect job. With our intuitive
      interface and comprehensive job listings, you can browse through thousands of job openings in various industries
      and
      locations. Take the next step in your career journey with Jobs4You! </p>
    <ion-button [routerLink]="['/joblist']">View Jobs</ion-button>
  </div>
</ion-content>